<head>

    <link rel="stylesheet"   href="{{ url_for('static',filename='home.css') }}" />
</head>
<div class="banner-area">
    <div class="wrapper">
        <div class="navigation">
            <div class="logo">
              <h1>20Euit508</h1>
            </div>
            <nav>
                <a href="#"><button class="button"><strong>Home</strong></button></a>
                <a href="http://127.0.0.1:5000/about"  ><BUTTON class="button"><strong>About</strong></BUTTON></a>
                <a href="http://127.0.0.1:5000/sign"  ><BUTTON class="button"><STRONG>Sign</STRONG></button></a>
                <a href="http://127.0.0.1:5000/sigup"  ><button class="button"><STRONG>Signup</STRONG></button></a>
            </nav>
        </div>

        <div class="banner-text">
            <div class="text-area">

                <h3 class="new">New Homepage</h3>
                <p>welcome to naliyathiran Assigment 2 HOMEPAGE</p>
                <a href="#" >Welcome Again</a>
            </div>
        </div>
    </div>
</div>


