<head>
    <link rel="stylesheet" href="../css/homepage.css">
</head>
<div class="banner-area">
    <div class="wrapper">
        <div class="navigation">
            <div class="logo">
              <h1>20Euit508</h1>
            </div>
            <nav>
                <a href="homePage.html"><button class="button"><strong>Home</strong></button></a>
                <a href="aboutPage.html"  target="_blank"><BUTTON class="button"><strong>About</strong></BUTTON></a>
                <a href="signPage.html"  target="_blank"><BUTTON class="button"><STRONG>Sign</STRONG></button></a>
                <a href="sigupPage.html"  target="_blank"><button class="button"><STRONG>Signup</STRONG></button></a>
            </nav>
        </div>

        <div class="banner-text">
            <div class="text-area">

                <h3 class="new">New Homepage</h3>
                <p>welcome to naliyathiran Assigment 2 HOMEPAGE</p>
                <a href="homePage.html" >Welcome Again</a>
            </div>
        </div>
    </div>
</div>

